<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Facemash</title>
<style type="text/css">

body, html {font-family:Arial, Helvetica, sans-serif;width:100%;margin:0;padding:0;text-align:center;}
h1 {background-color:#600;color:#fff;padding:20px 0;margin:0;}
a img {border:0;}
td {font-size:11px;}
.image {background-color:#eee;border:1px solid #ddd;border-bottom:1px solid #bbb;padding:5px;}

</style>
</head>

<body>

<h1>FACEMASH</h1>

{% if request.user.is_anonymous %}

{% include 'django_facebook/_facebook_js.html' %}

<form action="{% url 'facebook_connect' %}?facebook_login=1" method="post">
  <input type="hidden" value="1" name="connect" />
  {% csrf_token %}
  <a onclick="F.connect(this.parentNode); return false;" href="javascript:void(0);">Connect</a>
</form>

{% else %}
<h3>Were we let in for our looks? No. Will we be judged on them? Yes.</h3>
<h2>Who's hotter? Click to choose.</h2>

<center>
<table>
	<tr>
		<td valign="top" class="image"><a href="javascript:void(0);"><img src="" /></a></td>
		<td valign="top" class="image"><a href="javascript:void(0);"><img src="" /></a></td>
	</tr>
	<tr>
		<td>Won: {{ warriors.0.get_all_summoner_data.wins}}, Lost: {{ warriors.0.get_all_summoner_data.losses }}</td>
		<td>Won: {{ warriors.1.get_all_summoner_data.wins}}, Lost: {{ warriors.1.get_all_summoner_data.losses }}</td>
	</tr>
	<tr>
		<td>Score: {{ warriors.0.get_all_summoner_data.score}}</td>
		<td>Score: {{ warriors.1.get_all_summoner_data.score}}</td>
	</tr>
	<tr>
		<td>Expected: <?=round(expected($images[1]->score, $images[0]->score), 4)?></td>
		<td>Expected: <?=round(expected($images[0]->score, $images[1]->score), 4)?></td>
	</tr>
</table>
</center>

<h2>Top Rated</h2>
<center>
<table>
	<tr>
		<? foreach($top_ratings as $key => $image) : ?>
		<td valign="top"><img src="images/<?=$image->filename?>" width="70" /></td>
		<? endforeach ?>
	</tr>
	<? /* Remove this to see the scoring
	<tr>
		<? foreach($top_ratings as $key => $image) : ?>
		<td valign="top">Score: <?=$image->score?></td>
		<? endforeach ?>
	</tr>
	<tr>
		<? foreach($top_ratings as $key => $image) : ?>
		<td valign="top">Performance: <?=$image->performance?></td>
		<? endforeach ?>
	</tr>
	<tr>
		<? foreach($top_ratings as $key => $image) : ?>
		<td valign="top">Won: <?=$image->wins?></td>
		<? endforeach ?>
	</tr>
	<tr>
		<? foreach($top_ratings as $key => $image) : ?>
		<td valign="top">Lost: <?=$image->losses?></td>
		<? endforeach ?>
	</tr>
	*/ ?>
</table>
</center>

{{ warriors.0.get_all_summoner_data }}
{{ warriors.1.fb_id }}

{% endif %}
</body>
</html>
